<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thorncrag.arrp-nightly</string>
  <key>Disabled</key>
  <true/>
  <key>RunAtLoad</key>
  <false/>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/benjaminsmith/Library/Application Support/ARRP/bin/arrp-bootstrap.py</string>
  </array>
</dict>
</plist>
