<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.thorncrag.arrp-nightly</string>
  <key>Disabled</key>
  <false/>
  <key>RunAtLoad</key>
  <true/>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>2</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/benjaminsmith/Library/Application Support/ARRP/bin/arrp-bootstrap.py</string>
  </array>
  <key>StandardOutPath</key>
  <string>/Users/benjaminsmith/Library/Application Support/ARRP/logs/launchd.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/benjaminsmith/Library/Application Support/ARRP/logs/launchd.err.log</string>
</dict>
</plist>
